<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=kwaeh003q0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .m_box {
            border: 1px black solid;
            border-radius: 10px;
            background-color: rgb(235, 233, 153);
            align-items: center;
            justify-content: center;
            padding: 0 20px 10px 20px;
            text-align: center;
            width: 220px;
        }
        
        .inner_box {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        
        .m_btn {
            height: 25px;
            background-color: rgb(240, 207, 116);
            border-radius: 35px;
            border: 1px solid;
        }
        
        .img_fit {
            object-fit: cover;
            border-radius:250px;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>

    <div id="map" style="width:100%;height:800px;"></div>
    <!-- <script src="/mapInfo.js"></script> -->
    <script src="/map.js"></script>

    <script>
        function close() {
            console.log("버튼눌려짐");
            alert("안녕");
        };
    </script>
</body>

</html>